<ul>
  <li>User ID: <%= schedule.user_id %></li>
  <!-- <li>Username: <%= // schedule.user_id.firstname %></li> -->
  <li>Day: <%= schedule.day %></li>
  <li>Start at: <%= schedule.start_at %></li>
  <li>End at: <%= schedule.end_at %></li>
</ul>
<button><a href="/schedules">Back to Schedules</a></button>
