<table>
  <tr>
    <th>User ID</th>
    <th>Day</th>
    <th>Start at</th>
    <th>End at</th>
    <th></th>
  </tr>
  <% for(let index = 0; index < schedules.length; index++) { %>
  <tr>
    <td><%= schedules[index].user_id %></th>
    <td><%= schedules[index].day %></th>
    <td><%= schedules[index].start_at %></th>
    <td><%= schedules[index].end_at %></th>
    <td><a href='/schedules/<%= index %>'>Show</a></td>
  </tr>
  <% } %>
</table>
