<table>
  <tr>
    <th>ID</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
  </tr>
  <% for(let index = 0; index < users.length; index++) { %>
    <tr class="userRow">
      <td><%= index %></td>
      <td><%= users[index].firstname %></td>
      <td><%= users[index].lastname %></td>
      <td><%= users[index].email %></td>
      <td><%= users[index].password %></td>
      <td><a href='/users/<%= index %>'>Show</a></td>
      <td><a href='/users/<%= index %>/schedules'>Schedules</a></td>
    </tr>
  <% } %>
</table>
