<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Password</th>
    <th></th>
  </tr>
  <% users.forEach(user => { %>
    <tr class="userRow">
      <td><%= user.firstname %></td>
      <td><%= user.lastname %></td>
      <td><%= user.email %></td>
      <td><%= user.password %></td>
      <td><a href='/users/<%= users.user %>'>Show</a></td>
    </tr>
  <% }) %>
</table>

<!-- Alternatively: unordered list -->
<!-- <ul>
  <% users.forEach(user => { %>
    <div class="users-list">
      <li><%= user.firstname %></li>
      <li><%= user.lastname %></li>
      <li><%= user.email %></li>
      <li><%= user.password %></li>
    </div>
  <% }) %>
</ul> -->