<ul>
<li class="li-spaced"><p class="li-label">ID:</p> <%= userId %></li>
<li class="li-spaced"><p class="li-label">First name:</p> <%= user.firstname %></li>
<li class="li-spaced"><p class="li-label">Last name:</p> <%= user.lastname %></li>
<li class="li-spaced"><p class="li-label">Email:</p> <%= user.email %></li>
<li class="li-spaced"><p class="li-label">Password:</p> <%= user.password %></li>
</ul>
<button><a href="/users">Back to Users</a></button>